<h1>Редактировать дисциплину</h1>

<%= form_with(model: @discipline, local: true) do |form| %>
<div>
    <%= form.label :name, 'Название дисциплины' %>
    <%= form.text_field :name %>
</div>
<h3>Список материалов:</h3>
<%= render partial: 'materials/materials_list', locals: { materials: @discipline.materials, discipline: @discipline } %>
<!-- Add the JavaScript to handle the modal -->
<%= link_to 'Добавить материал', 'javascript:void(0);', id: 'addMaterialLink' %>
<div>
    <%= form.submit 'Сохранить' %>
</div>
<% end %>

<div id="addMaterialModal" style="display: none;">
<%= render partial: 'materials/new_modal', locals: { discipline: @discipline } %>
</div>

<!-- Add the JavaScript to handle the modal -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function() {
        $('#addMaterialLink').on('click', function() {
          $('#addMaterialModal').css('display', 'block');
        });
    });

// Handle material deletion
$(document).on('click', '.delete-material-link', function(event) {
  event.preventDefault();
  var materialId = $(this).data('material-id');
  deleteMaterial(materialId);
});

$(document).on('click', '.delete-material-link', function (event) {
    event.preventDefault();
    var materialId = $(this).data('material-id');
    deleteMaterial(materialId);
  });

  function deleteMaterial(materialId) {
    // Get CSRF token
    var csrfToken = $('meta[name="csrf-token"]').attr('content');

    // Perform asynchronous request to delete material
    $.ajax({
      url: `/disciplines/<%= @discipline.id %>/detach_material/${materialId}`,
      type: 'DELETE',
      dataType: 'json',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken
      },
      success: function () {
        console.log('Материал успешно удален');
        // Reload the page after successful deletion
        location.reload();
      },
      error: function () {
        console.error('Ошибка при удалении материала');
      }
    });
  }
});
</script>