<h1 class="h2 mb-3 fw-normal">Пожалуйста, войдите</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating">
    <%= f.email_field :email, class: "form-control", id: "floatingInput", autofocus: true, autocomplete: "email", placeholder: "" %>
    <%= f.label "email", for: "floatingInput", class: "form-label" %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingInput", placeholder: "" %>
    <%= f.label "Пароль", for: "floatingInput", class: "form-label" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-check text-start my-3">
      <%= f.check_box :remember_me, class: "form-check-input", type: "checkbox", id: "flexCheckDefault" %>
      <%= f.label "Запомнить меня", class: "form-check-label", for: "flexCheckDefault"  %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Войти", class: "btn btn-primary w-100 py-2" %>
  </div>
<% end %>

<%= render "users/shared/links" %>