<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="addMaterialModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mb-0 col-12 col-lg-auto me-lg-auto">Добавление материала</h3>
        <button type="button" class="btn-close" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: Material.new, url: discipline_materials_path(@discipline), remote: true) do |form1| %>
          <div class="my-1 form-floating">
            <%= form1.text_field :name, class: "form-control", id: "floatingInput", placeholder: ""  %>
            <%= form1.label "Название материала", for: "floatingInput", class: "form-label" %>
          </div>

          <div class="my-1 form-floating">
            <%= form1.collection_select :material_type_id, MaterialType.all, :id, :name, { prompt: "Выберите тип материала" }, { class: "form-select", id: "materialTypeSelect" } %>
            <%= form1.label :material_type_id, "Тип материала", class: "form-label" %>
          </div>

          <div>
            <%= form1.file_field :file, class: "form-control", id: "formFile", type: "file" %>
          </div>

          <div class="my-3 form-check">
            <%= form1.label :visible_for_a_period, 'Видим на время', class: "form-check-label" %>
            <%= form1.check_box :visible_for_a_period, class: "form-check-input", type: "checkbox" %>
          </div>

          <div class="my-3", id="period-fields" style="display: none;">
            <div class="form-floating">
              <%= form1.datetime_local_field :start_time, class: "form-control", id: "floatingInput", placeholder: ""  %>
              <%= form1.label "Время открытия", for: "floatingInput", class: "form-label" %>
            </div>

            <div class="form-floating">
              <%= form1.datetime_local_field :end_time, class: "form-control", id: "floatingInput", placeholder: ""  %>
              <%= form1.label "Время закрытия", for: "floatingInput", class: "form-label" %>
            </div>
          </div>

          <div class="my-3">
            <%= form1.submit 'Добавить материал', class: "btn btn-primary w-100 py-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
     
  
<script>
  document.addEventListener('turbo:load', function() {
    var visibleForAPeriodCheckbox = document.querySelector('#material_visible_for_a_period');
    var periodFields = document.getElementById('period-fields');

    visibleForAPeriodCheckbox.addEventListener('change', function() {
      periodFields.style.display = visibleForAPeriodCheckbox.checked ? 'block' : 'none';
    });
  });
</script>
