<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <p class="h1 mb-3 fw-bold">Рeдактирование</p>
  </ul>

  <div class="text-end">
    <%= button_to 'Отмена', group_path, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
  </div>
</div>

<%= form_for @group do |f| %>
  <div class="form-floating">
    <%= f.text_field :name, class: "form-control", id: "floatingInput", placeholder: "name@example.com"  %>
    <%= f.label :name, for: "floatingInput", class: "form-label" %>
  </div>

  <div class="form-floating">
    <%= f.text_area :description, class: "form-control", id: "floatingInput", placeholder: "name@example.com"  %>
    <%= f.label :description, for: "floatingInput", class: "form-label" %>
  </div>

  <%# <%= f.label :description, for: "formControlInput", class: "form-label" %>
  <%# <%= f.text_area :description, class: "form-control", id: "formControlInput", placeholder: "Описание" %>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <th scope="row">
            <%= check_box_tag 'group[user_ids][]', user.id, @group.users.include?(user) %>
          </th>
          <td><%= label_tag "#{user.user_profile.last_name}" %></td>
          <td><%= label_tag "#{user.user_profile.first_name}" %></td>
          <td><%= label_tag "#{user.user_profile.second_name}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>           

  <%= f.submit 'Сохранить', class: "btn btn-primary w-100 py-2" %>
<% end %>