<h1>Новое расписание</h1>
<div class="row">
<div class="col-md-8">
<%= form_with(model: @schedule, local: true) do |form| %>
  <div>
    <%= form.label :course_id, 'Выберите курс' %>
    <%= form.collection_select :course_id, @courses, :id, :name, prompt: 'Выберите курс' %>
  </div>

  <div id="disciplines" style="display: none;">
    <%= form.label :discipline_id, 'Выберите дисциплину' %>
    <%= form.collection_select :discipline_id, [], :id, :name, prompt: 'Выберите дисциплину' %>
  </div>

  <div id="schedule-fields" style="display: none;">
    <div class="time-fields">
    <label>Время начала</label>
    <input type="datetime-local" name="schedule[start_times][0]" value="" id="schedule_start_time">
    <label>Время окончания</label>
    <input type="datetime-local" name="schedule[end_times][0]" value="" id="schedule_end_time">
    </div>
  </div>

  <div id="add-time-link" style="display: none;">
    <%= link_to 'Добавить еще время', 'javascript:void(0);', id: 'add-time' %>
  </div>

  <div>
    <%= form.submit 'Создать расписание' %>
  </div>
<% end %>
</div>
<!-- Левая колонка для таблицы -->
<div class="col-md-4">
  <!-- Твоя таблица или другой контент -->>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var courseSelect = document.querySelector('#schedule_course_id');
    var disciplinesDiv = document.getElementById('disciplines');
    var addTimeLink = document.getElementById('add-time');
    var scheduleFieldsDiv = document.getElementById('schedule-fields');
    var addTimeButton = document.getElementById('add-time-link')
    var startTimeInput = document.querySelector('#schedule_start_time');
    var endTimeInput = document.querySelector('#schedule_end_time');

    courseSelect.addEventListener('change', function() {
      var courseId = courseSelect.value;
      if (courseId) {
        // Загрузить дисциплины для выбранного курса
        fetch(`/schedules/load_disciplines?course_id=${courseId}`)
          .then(response => response.json())
          .then(data => {
            var disciplineSelect = document.querySelector('#schedule_discipline_id');
            disciplineSelect.innerHTML = '<option value="">Выберите дисциплину</option>';
            data.forEach(discipline => {
              var option = document.createElement('option');
              option.value = discipline.id;
              option.text = discipline.name;
              disciplineSelect.add(option);
            });
          });

        // Показать блок с дисциплинами
        disciplinesDiv.style.display = 'block';
      } else {
        // Скрыть блок с дисциплинами
        disciplinesDiv.style.display = 'none';
      }
    });
    startTimeInput.addEventListener('change', function() {
        var startTime = new Date(startTimeInput.value);
        var endTime = new Date(startTime.getTime() + 5400000);
        var timezoneOffset = startTime.getTimezoneOffset() * 60000; // получаем разницу в минутах и переводим в миллисекунды
        endTimeInput.value = new Date(endTime - timezoneOffset).toISOString().slice(0, -5);
    });  

    var disciplineSelect = document.querySelector('#schedule_discipline_id');
    disciplineSelect.addEventListener('change', function() {
      var disciplineId = disciplineSelect.value;
      if (disciplineId) {
        // Показать блок с полями расписания
        addTimeButton.style.display = 'block';
        scheduleFieldsDiv.style.display = 'block';
      } else {
        // Скрыть блок с полями расписания
        addTimeButton.style.display = 'none';
        scheduleFieldsDiv.style.display = 'none';
      }
    });
    var timeFieldsCounter = 1;

  addTimeLink.addEventListener('click', function() {

  // Create a new div for time fields
  var timeFieldsDiv = document.createElement('div');
  timeFieldsDiv.className = 'time-fields';

  // Create labels and input fields for start_time
  var startTimeLabel = document.createElement('label');
  startTimeLabel.textContent = 'Время начала';

  var startTimeInput = document.createElement('input');
  startTimeInput.type = 'datetime-local';
  startTimeInput.name = `schedule[start_times][${timeFieldsCounter}]`;
  startTimeInput.value = startTimeInput.value || ''; // Set initial value

  // Create labels and input fields for end_time
  var endTimeLabel = document.createElement('label');
  endTimeLabel.textContent = 'Время окончания';

  var endTimeInput = document.createElement('input');
  endTimeInput.type = 'datetime-local';
  endTimeInput.name = `schedule[end_times][${timeFieldsCounter}]`;
  endTimeInput.value = endTimeInput.value || ''; // Set initial value

  // Append labels and input fields to the timeFieldsDiv
  timeFieldsDiv.appendChild(startTimeLabel);
  timeFieldsDiv.appendChild(startTimeInput);
  timeFieldsDiv.appendChild(endTimeLabel);
  timeFieldsDiv.appendChild(endTimeInput);

  // Append the timeFieldsDiv to the scheduleFieldsDiv
  scheduleFieldsDiv.appendChild(timeFieldsDiv);
  var startTimeInput = document.querySelector(`input[name="schedule[start_times][${timeFieldsCounter}]"]`);
  var endTimeInput = document.querySelector(`input[name="schedule[end_times][${timeFieldsCounter}]"]`);

  startTimeInput.addEventListener('change', function() {
    var startTime = new Date(startTimeInput.value);
    var endTime = new Date(startTime.getTime() + 5400000);
    var timezoneOffset = startTime.getTimezoneOffset() * 60000;
    endTimeInput.value = new Date(endTime - timezoneOffset).toISOString().slice(0, -5);
  });

  // Update the counter for unique field names
  timeFieldsCounter++;
});
  
});
</script>