<%= render "moderator/shared/nav" %>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto">Дисциплины</h3>
    <div class="text-end">
      <%= button_to '+ Создать', new_moderator_discipline_path, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Материалы</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @disciplines.each do |discipline| %>
        <tr>
          <td><%= label_tag "#{discipline.name}" %></td>
          <td><%= label_tag "#{discipline.materials.length}" %></td>
          <td class="text-end">
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Действия
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Редактировать', edit_moderator_discipline_path(discipline), class: "dropdown-item" %>
                <%= link_to 'Удалить', moderator_discipline_path(discipline), data: { "turbo-method": :delete, confirm: 'Are you sure?'}, class: "dropdown-item" %>
                <%= link_to 'Просмотр', moderator_discipline_path(discipline), class: "dropdown-item"%>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @disciplines %>
</div>