<%= render "moderator/shared/nav" %>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto"><%= @discipline.name %></h3>
    <div class="text-end">
      <%= button_to 'Редактировать', edit_moderator_discipline_path(@discipline), :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="lead my-2 pb-2 border-bottom">Описание: <%= @discipline.description %></div>
  <%= render partial: 'moderator/materials/materials_list', locals: { materials: @discipline.materials, discipline: @discipline } %>
</div>

<%= render partial: 'materials/new_modal', locals: { discipline: @discipline } %>