<%= render "admin/shared/nav" %>

<p class="h1 mb-3 fw-bold">Создание роли</p>
<%= form_for @role, url: admin_roles_path do |f| %>
  <div class="form-floating">
    <%= f.text_field :name, class: "form-control", id: "floatingInput", placeholder: ""  %>
    <%= f.label "Название", for: "floatingInput", class: "form-label" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <th scope="row">
            <%= check_box_tag 'role[user_ids][]', user.id, @role.users.include?(user) %>
          </th>
          <td><%= label_tag "#{user.user_profile.last_name}" %></td>
          <td><%= label_tag "#{user.user_profile.first_name}" %></td>
          <td><%= label_tag "#{user.user_profile.second_name}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>           

  <%= f.submit 'Создать', class: "btn btn-primary w-100 py-2" %>
<% end %>