<%= render "admin/shared/nav" %>

<!-- TODO: переделать механизм добавление и удаления пользователей (сделать примерно как в создании) -->
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto">Рeдактирование</h3>
    <div class="text-end">
      <%= button_to 'Отмена', admin_group_path, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <%= form_for @group, url: admin_group_path do |f| %>
    <div class="form-floating">
      <%= f.text_field :name, class: "form-control", id: "floatingInput", placeholder: "name@example.com"  %>
      <%= f.label "Название", for: "floatingInput", class: "form-label" %>
    </div>

    <div class="form-floating">
      <%= f.text_area :description, class: "form-control", id: "floatingInput", placeholder: "name@example.com"  %>
      <%= f.label "Описание", for: "floatingInput", class: "form-label" %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Отчество</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <th scope="row">
              <%= check_box_tag 'group[user_ids][]', user.id, @group.users.include?(user) %>
            </th>
            <td><%= label_tag "#{user.user_profile.last_name}" %></td>
            <td><%= label_tag "#{user.user_profile.first_name}" %></td>
            <td><%= label_tag "#{user.user_profile.second_name}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>           
    <%= f.submit 'Сохранить', class: "btn btn-primary w-100 py-2" %>
  <% end %>
</div>