<%= render "admin/shared/nav" %>

<!-- TODO: мб делать вывод не таблицей, а списком, как на странице просмотра всех пользователей -->
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto">Список групп</h3>
    <div class="text-end">
      <%= button_to '+ Создать', new_admin_group_path, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Пользователи</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
        <tr>
          <td><%= label_tag "#{group.name}" %></td>
          <td><%= label_tag "#{group.users.length}" %></td>
          <td class="text-end">
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Действия
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Редактировать', edit_admin_group_path(group), class: "dropdown-item" %>
                <%= link_to 'Удалить', admin_group_path(group), data: { "turbo-method": :delete, confirm: 'Вы уверены?'}, class: "dropdown-item" %>
                <%= link_to 'Просмотр', admin_group_path(group), class: "dropdown-item"%>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @groups %>
</div>
