<%= render "moderator/shared/nav" %>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto"><%= @course.name %></h3>
    <div class="text-end">
      <%= button_to 'Отмена', @course, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <%= form_with url: "/courses/#{@course.id}/students", method: :patch do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Отчество</th>
        </tr>
      </thead>
      <tbody>
        <% @student_role_users.each do |role_user| %>
          <tr>
            <th scope="row">
              <%= check_box_tag 'course[student_role_users][]', role_user.id, @course.role_users.include?(role_user) %>
            </th>
            <td><%= label_tag "#{role_user.user.user_profile.last_name}" %></td>
            <td><%= label_tag "#{role_user.user.user_profile.first_name}" %></td>
            <td><%= label_tag "#{role_user.user.user_profile.second_name}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
    <%= f.submit 'Сохранить', class: "btn btn-primary w-100 py-2" %>
  <% end %>
</div>
