<%= render "moderator/shared/nav" %>

<!-- TODO: добавление такое же, как при добавдении в группу -->

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto"><%= @course.name %></h3>
    <div class="text-end">
      <%= button_to 'Отмена', moderator_course_path(@course), :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <%= form_with url: disciplines_moderator_course_path, method: :patch do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Название</th>
          <th scope="col">Материалы</th>
        </tr>
      </thead>
      <tbody>
        <% @disciplines.each do |discipline| %>
          <tr>
            <th scope="row">
              <%= check_box_tag 'course[discipline_ids][]', discipline.id, @course.disciplines.include?(discipline) %>
            </th>
            <td><%= label_tag "#{discipline.name}" %></td>
            <td><%= label_tag "#{discipline.materials.length}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
    <%= f.submit 'Сохранить', class: "btn btn-primary w-100 py-2" %>
  <% end %>
</div>