<header class="p-3 text-bg-dark">
  <nav>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "Главная", root_path, class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Группы", groups_path, class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Дисциплины", '#', class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Курсы", courses_path, class: "nav-link px-2 text-white" %></li>
        </ul>

        <div class="navbar-right">
          <% if user_signed_in? %>
            <%= button_to 'Выйти', destroy_user_session_path, :method => :delete, type: "button", class: "btn btn-outline-light me-2" %>
          <% else %>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <%= button_to 'Войти', new_user_session_path, :method => :get, type: "button", class: "btn btn-outline-light me-2" %>
              <%= button_to 'Регистрация', new_user_registration_path, :method => :get, type: "button", class: "btn btn-warning" %>
              <%# <button type="button" class="btn btn-outline-light me-2">Войти</button>
              <button type="button" class="btn btn-warning">Зарегистрироваться</button> %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  </header>