<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'rails-ujs' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.4.min.js' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <% flash.each do |message_type, message| %>
          <% if message_type == "notice" %>
            <div class="alert alert-success" role="alert"> <%= message %> </div>
          <% else %>
            <div class="alert alert-danger" role="alert"> <%= message %> </div>
          <% end %>
        <% end %>
        
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
                                    